* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, Arial, sans-serif;
  font-size: 16px;
}

body {
  background: #e0e0e0;
  overflow-x: hidden;
}

body::before {
  content: '';
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/oba_logo_kort_rood_h.png");
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  background-size: 50%;
  opacity: .4;
  position: fixed;
  top: 0;
  left: 0;
}
/* svg {
  height: 100%;
} */
/* button {
  width: 3em;
  height: 1.5em;
  background: red
} */

li {
  list-style-type: none;
}

input, button {
  border: none;
  outline: none;
}

/* ========== Background styling ========== */

#bg-lab {
  --wall-color: blue;
  height: calc(25vh + 5vw);
  /* background: green; */
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 100;
  --table-height: 2.5rem;
  /* outline: solid 10px #c6c6c6; */


}

#bg-lab::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 110%;
  left: 0;
  background: darkgrey;
  bottom: 0;
  /* -webkit-box-shadow: 0px -2px 33px 5px rgba(0,0,0,0.75); */
/* -moz-box-shadow: 0px -2px 33px 5px rgba(0,0,0,0.75); */
box-shadow: 0px -2px 3px 5px rgba(0,0,0,0.3);
opacity: .5;

}

#bg-lab::after {
  content: 'Houd het toverdrankje ingedrukt om boeken te vinden. Voeg niet te veel toe!';
  font-weight: bold;
  text-align: center;
  display: block;
  position: absolute;
  background: #5b5d60;
  width: 100vw;
  line-height: var(--table-height);
  bottom: 0;
  animation: flashy 1s alternate infinite linear;
}

@keyframes flashy {
  0% {
    color: rgba(255,255,255,.5)
  }
  100% {
    color: rgba(255,255,255,1)
  }
}

/* ========== General potion styling ========== */

.background-asset {
  position: absolute;
  bottom: var(--table-height);
}

.background-potion,  {
  height: calc(90% - var(--table-height));
}

.potion {
  height: 100%;
}

.potion-reflection,
.bubble-reflection {
  fill: white;
  opacity: .7;
}

.potion-glass {
  fill: white;
  opacity: .5;
}

.potion-connector,
.rack {
  fill: #737372;
}

.potion-fluid,
.potion-bubbles {
  fill: var(--potion-color);
  transition: fill .3s ease 1s;
}

.bubble {
  animation: bubbling 1s infinite linear var(--bubble-delay);
}

@keyframes bubbling {
  0% {
    transform: scale(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* ========== Main potion styling ========== */

#main-potion {
  display: flex;
  width: 25vh;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  padding-bottom: 0;
  height: calc(100% - var(--table-height));
  transition: padding-bottom .2s ease;
  --potion-color: #00a0e4;
  --potion-filled: 0.1;
}

#main-potion:hover {
  padding-bottom: 1rem;
  cursor: pointer;
  animation: colorChange 1s alternate infinite ease 0s
}

#main-potion:active {
  animation: shake .2s infinite linear;
  --potion-color: red;
}

#main-potion:hover .potion-fluid,
#main-potion:hover .potion-bubbles {
  transition: fill 1s ease;
}

#main-potion:hover .potion {
  transform-origin: top center;
  animation: shake .5s infinite linear .3s;
}

#main-potion .potion-fluid,
#main-potion .potion-bubbles {
  clip-path:url(#main-potion-glass-clip);
}

#main-potion .potion-fluid path {
  transition: transform .3s ease 1s;
  transform-origin: bottom center;
  transform: scaleY(var(--potion-filled));
}


#main-potion .bubble {
  transform-origin: center bottom;
}

@keyframes shake {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-30deg) }
  75% { transform: rotate(30deg) }
  100% { transform: rotate(0deg) }
}

@keyframes colorChange {
  0% { --potion-color: #00a0e4 }
  50% { --potion-color: #00e488 }
  100% { --potion-color: #e4e400 }
}

/* ========== Background potion styling ========== */

.background-potion {
  left: 0;
  height: calc(90% - var(--table-height));
}

.background-potion .potion {
  --potion-color: #fff538;
}

.background-potion:hover .potion {
  --potion-color: orange;
}

.background-potion:hover .bubble {
  animation-duration: .5s;
}

.background-potion .potion-bubbles {
  clip-path:url(#background-potion-glass-clip);
}

.background-potion .bubble {
  transform-origin: 80% bottom;
}

/* =====a=we=fa=wef=awf=aw= */

.background-tubes {
  right: calc(50vw - 40vmax);
  z-index: 1;
  height: calc(60% - var(--table-height));
}

.test-tubes {
  transform-origin: center bottom;
  transform: scale(.9);
}

.test-tube:nth-child(1) {
  --potion-color: #00a0e4;
}

.test-tube:nth-child(2) {
  --potion-color: #38ad6a;
}

.test-tube:nth-child(3) {
  --potion-color: #e9532a;
}

.test-tube:nth-child(4) {
  --potion-color: #ffee00;
}

.test-tube:nth-child(5) {
  --potion-color: #d72157;
}

.test-tube {
  transition: transform .1s ease-in-out;
}

.test-tube:hover {
  transform: translateY(-10%);
}


.background-bottles {
  position: absolute;
  bottom: var(--table-height);
  left: calc(50vmin - 10vmin);
  height: calc(70% - var(--table-height));
}

.background-bottles .bottle {
  transition: transform .1s ease-in-out;
}
.background-bottles .bottle:hover {
  transform: translateY(20%)
}

.background-bottles .bottle:nth-of-type(2) {
  --potion-color: #38ad6a;
}
.background-bottles .bottle:nth-of-type(3) {
  --potion-color: #d72157;
}
.background-bottles .bottle:nth-of-type(4) {
  --potion-color: #00a0e4;
}
.background-bottles .bottle:nth-of-type(5) {
  --potion-color: #e9532a;
}
.background-bottles .bottle:nth-of-type(6) {
  --potion-color: limegreen;
}

.background-books {
  /* --books-height: calc(25vh + 5vw); */
  height: calc(80% - var(--table-height));
  right: calc(10vmin);
}
.background-books .potion {
  width: 200%;
}

.background-books .book {
  transform-origin: bottom left;
  transition: transform .15s ease-in;
}
.background-books:hover .book:first-of-type {
  transform: rotate(-90deg)
}


/* Explosion */

#explosion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: content-box;
  padding-top: 50vh;
  --explosion-duration: .4s;
  --final-size: 5;
  z-index: 1000;
}

#explosion.explode {
  display: block;
}
.explosion-fase {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  margin: auto;
  position: absolute;
  transform: scale(0);
}
.fase-1 {
  fill: #ffee00;
  animation-name: fase-1;
  animation-fill-mode: forwards;
  animation-duration: var(--explosion-duration);
  animation-timing-function: linear;
}

@keyframes fase-1 {
  0% {
    transform: scale(0)
  }
  50% {
    transform: scale(.5)
  }
  100% {
    transform: scale(var(--final-size))
  }
}

.fase-2 {
  fill: #e9532a;
  animation-name: fase-2;
  animation-fill-mode: forwards;
  animation-duration: var(--explosion-duration);
  animation-timing-function: linear;
  animation-delay: calc(var(--explosion-duration) / 2);
}

@keyframes fase-2 {
  0% {
    transform: scale(0)
  }
  100% {
    transform: scale(var(--final-size))
  }
}


.fase-3 {
  animation-name: fase-3;
  animation-fill-mode: forwards;
  animation-duration: var(--explosion-duration);
  animation-timing-function: linear;
  animation-delay: calc(var(--explosion-duration));
}
.fase-3 .fase-3-inner {
  fill: #ffda00;
}

.fase-3 .fase-3-outer {
  fill: #ffee00;
}


@keyframes fase-3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(var(--final-size));
  }
}
#search-sections {
  display: grid;
  grid-template-columns: 100vw 100vw;
  grid-template-rows: 100vh;
  transform: translateX(0);
  transition: transform .3s ease-in-out;
}

body.genres #search-sections {
  transform: translateX(-100vw);
}

body.results #search-sections {
  transform: translateX(-200vw);
}

.change-section {
  /* display: flex; */
  font-size: 2rem;
  font-weight: bold;
  padding: 0 .5em;
  /* width: 10vw; */
  height: 2em;
  background: red;
  position: absolute;
  top: 5vh;
  z-index: 2;
  color: white;
  transition: all .15s linear;
}

.change-section.right:hover {
  cursor: pointer;
  padding-right: 4rem;
}
.change-section.left:hover {
  cursor: pointer;
  padding-left: 4rem;
}
.change-section.right::after {
  content: "\f0fb";
  font-family: FontAwesome;
  position: absolute;
  right: .5rem;
  line-height: 0;
  height: 1px;
  top: 0;
  bottom:0;
  margin: auto 0;
  opacity: 0;
  transition: opacity .2s linear;
}
.change-section.left::before {
  content: "\f0fb";
  font-family: FontAwesome;
  position: absolute;
  left: .5rem;
  line-height: 0;
  height: 1px;
  top: 0;
  bottom:0;
  margin: auto 0;
  opacity: 0;
  transform: rotate(180deg);
  transition: opacity .2s linear;
}

.change-section:hover::after,
.change-section:hover::before {
  /* width: 100%; */
  opacity: 1;
  /* animation: stretchy 1s alternate infinite linear; */
}


.change-section.right {
  right: 0;
  background: #d72157;
  border-radius: 100px 0 0 100px;
  transform-origin: center right;
}
.change-section.left {
  left: 0;
  background: #e9532a;
  border-radius: 0 100px 100px 0;
  transform-origin: center left;
}
#add-words {
  width: 100vw;
  height: 100vh;
  /* border: solid 3px red; */
  overflow: hidden;
}

#add-words form {
  width: 50vw;
  min-width: 310px;
  max-width: 500px;
  padding: 4% 3% 0;
  margin: 0 auto;
  /* margin: 10vh auto 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2b2b2a;
  border-radius: 25px;
  position: relative;
}

#add-words form input {
  width: 100%;
  font-family: 'VT323', monospace;
  font-size: 2rem;
  height: 2em;
  margin-bottom: .5em;
  padding: 0 .25em;
  border-radius: 5px;
  background: black;
  border: solid 2px black;
  color: limegreen;
  letter-spacing: .05em;
  position: relative;
}

#add-words form input:hover {
  transition: border .2s ease;
  border-color: limegreen;
}

#add-words form button {
  font-size: 2rem;
  padding: .25em .5em;
  border-radius: 100px;
  font-weight: medium;
  margin-bottom: .5em;
  position: relative;
  background: #00a0e4;
  color: white;
}

#add-words form button:hover {
  transition: all .1s ease;
  filter: brightness(1.1);
  cursor: pointer;
  transform: scale(1.05);
}

#add-words form::after {
  content: '';
  display: block;
  position: absolute;
  /* background: lightgrey; */
  height: 2rem;
  width: 30%;
  bottom: -2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(50,50,50,1) 0%,rgba(139,139,139,1) 50%,rgba(50,50,50,1) 100%);
  border-radius: 0 0 15px 15px;
}

#add-words form::before {
  content: '';
  display: block;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  bottom: -3.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(110,110,110,1) 0%,rgba(139,139,139,1) 50%,rgba(110,110,110,1) 100%);
}
#add-words .ingredient {
  --ingredient-color: limegreen;
  --fall-speed: 1s;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100% 0 100% 100%;
  transform: rotate(-45deg);
  background: var(--ingredient-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: -1;
  animation-name: fallInBottle;
  animation-duration: var(--fall-speed);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

#add-words .ingredient::before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--ingredient-color);
  top: -10px;
  right: -10px;
  border-radius: 100% 0 100% 100%;
}

#add-words .ingredient::after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  background: var(--ingredient-color);
  top: -15px;
  right: -15px;
  border-radius: 100% 0 100% 100%;
}

@keyframes fallInBottle {
  0% { bottom: 0 }
  100% { bottom: -100vh }
}

/* Add genres */

#add-genres {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-x: scroll; */
  /* border: solid 3px green; */
}
#search-sections section > h1 {
  font-family: 'Slackey', cursive;
  font-size: 2.5rem;
  line-height: 10vh;
  text-align:center;
}

#add-genres ul::-webkit-scrollbar {
  display: none;
}

#add-genres ul {
  position: relative;
  /* position: absolute;
  left: 0;
  right: 0; */
  /* margin: 0 auto; */
  display: inline-flex;
  /* justify-content: center; */
  /* align-items: center; */
  max-width: 80vw;
  padding-bottom: 1rem;
  /* width: auto; */
  overflow-x: scroll;

  /* border: solid 3px purple; */
  margin: 0 auto;
  /* padding: 0 10vw; */
}
#add-genres::before,
#add-genres::after {
  content: '';
  position: absolute;
  display: block;
  top: 10vh;
  width: 10vw;
  height: 45vh;
  z-index: 1;
}

#add-genres::before {

  left:0;
  /* top: 0;
  display: block;
  height: 100vh;
  width: 10vw; */
  /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
  /* -webkit-box-shadow: 7px 0px 5px -4px rgba(0,0,0,0.44); */
/* -moz-box-shadow: 7px 0px 5px -4px rgba(0,0,0,0.44); */
box-shadow:10px 0px 5px -4px rgba(0,0,0,0.2);
  /* background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); */
  /* opacity: .2; */
}

#add-genres::after {
  right: 0;
  /* -webkit-box-shadow: -7px 0px 5px -4px rgba(0,0,0,0.44);
-moz-box-shadow: -7px 0px 5px -4px rgba(0,0,0,0.44); */
box-shadow: -10px 0px 5px -4px rgba(0,0,0,0.2);
  /* background: linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%); */
}

.genre-card {
  --card-highlight: .75;
  transition: all 1s linear, opacity none;
  width: 20vw;
  height: 45vh;
  min-width: 250px;
  max-width: 320px;
  background: var(--card-color);
  margin-left: 2rem;
  margin-right: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
  border-radius: 20px;
  transition: background-color .2s linear;
  /* -webkit-box-shadow: 20px 10px 5px 0px rgba(0,0,0,0.75); */
/* -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.2);

}
.genre-card::before,
.genre-card::after {
  transition: opacity .3s ease;
}

.genre-card:hover {
  --card-highlight: 1;
  cursor: pointer;
}
.genre-card::before {
  content: '';
  width: 50%;
  height: 40%;
  margin: auto;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  filter: brightness(100);
  opacity: var(--card-highlight);
  /* margin: 0 auto; */
}

.genre-card:hover::before {
  --bounce-time: .2s;
  animation: bounce var(--bounce-time) alternate infinite linear calc(var(--bounce-time) / 2 * -1);
}

@keyframes bounce {
  0% {
    transform: translateY(-5%)
  }
  50% {
    transform: translateY(0%)
  }
  100% {
    transform: translateY(5%)
  }
}

.genre-card[data-genre="stripverhaal"]::before {
  background-image: url("../images/cartoon.svg");
}

.genre-card[data-genre="science-fiction"]::before {
  background-image: url("../images/sci-fi.svg");
}

.genre-card[data-genre="school"]::before {
  background-image: url("../images/school.svg");
}

.genre-card[data-genre="dieren"]::before {
  background-image: url("../images/dieren.svg");
  background-position: center top;
}

.genre-card[data-genre="humor"]::before {
  background-image: url("../images/humor.svg");
}

.genre-card[data-genre="sport"]::before {
  background-image: url("../images/sport.svg");
}

.genre-card[data-genre="sprookjes"]::before {
  background-image: url("../images/sprookje.svg");
}

#add-genres .genre-card:nth-of-type(3n - 2) {
  --card-color: #f4cb42
}
#add-genres .genre-card:nth-of-type(3n - 1) {
  --card-color: #32bbe5;
}

#add-genres .genre-card:nth-of-type(3n) {
  --card-color: #3bc64b;
}

.genre-card::after {
  content: '\f055';
  font-family: FontAwesome;
  font-size: 10vh;
  display: block;
  margin-top: auto;
  text-align: center;
  color: white;
  opacity: var(--card-highlight);
}

.genre-card.is-hidden {
  opacity: 0;
  /* display: none; */
  animation: disappear .2s forwards linear;
}

@keyframes disappear {
  0% {
    min-width: 250px;
    max-width: 320px;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  100% {
    min-width: 0;
    max-width: 0;
    margin-right: 0;
    margin-left: 0;
    display: none;
  }
}

.genre-card:first-of-type.is-hidden, .genre-card.is-first.is-hidden {
  animation: disappearFirst .2s forwards linear;
}

@keyframes disappearFirst {
  0% {
    min-width: 250px;
    max-width: 320px;
    margin-right: 2rem;
    /* margin-left: 2rem; */
  }
  100% {
    min-width: 0;
    max-width: 0;
    margin-right: 0;
    display: none;
    /* margin-left: 0; */
  }
}

.genre-card:last-of-type.is-hidden, .genre-card.is-last.is-hidden {
  animation: disappearLast 1s forwards linear;
}

@keyframes disappearLast {
  0% {
    min-width: 250px;
    max-width: 320px;
    /* margin-right: 2rem; */
    margin-left: 2rem;
  }
  100% {
    min-width: 0;
    max-width: 0;
    /* margin-right: 0; */
    display: none;
    margin-left: 0;
  }
}


.genre-card h1 {
  font-family: 'Slackey', cursive;
  font-size: 2rem;
  text-align:center;
  color: white;
}

.genre-card:last-of-type, .genre-card.is-last {
  margin-right: 0;
}
.genre-card:first-of-type, .genre-card.is-first {
  margin-left: 0;
}

.genre-card.flyInBottle {
  /* --fly-speed: .5s; */
  transition: left var(--fly-speed) ease-out, top calc(var(--fly-speed) * 2) ease-in-out calc(var(--fly-speed) / 4);
  animation: shrinkForBottle var(--fly-speed) forwards linear;
  left: var(--clone-left);
  top: var(--clone-top);
  width: var(--clone-width);
  margin: 0;
}

@keyframes shrinkForBottle {
  0% {
    transform: scale(1);
    border-radius: 0;
  }
  100% {
    transform: scale(.1);
    border-radius: 100%;
  }
}
